<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        a {
            font-size: 30px;
        }
    </style>
</head>
<body>
    <h1>Index page</h1>
    <ul>
        <!-- http://127.0.0.1:5000 will be changed when app goes to production -->
        <li><a href="http://127.0.0.1:5000/api/subreddits">/api/subreddits</a></li>
        <li><a href="http://127.0.0.1:5000/api/subreddits/countries">/api/subreddits/countries</a></li>
        <li><a href="http://127.0.0.1:5000/api/topics/latest/programming">/api/topics/latest/programming</a></li>
        <li><a href="http://127.0.0.1:5000/api/countries/latest/programming">/api/countries/latest/programming</a></li>
        <li><a href="http://127.0.0.1:5000/api/statistics/programming/10">/api/statistics/programming/10</a></li>
        <li><a href="http://127.0.0.1:5000/api/statistics/topics/programming/10/10">/api/statistics/topics/programming/10/10</a></li>
        <li><a href="http://127.0.0.1:5000/api/subscriptions/current-user">/api/subscriptions/current-user</a></li>
        <li><a href="http://127.0.0.1:5000/api/subscriptions/current-user/latest-analyzed">/api/subscriptions/current-user/latest-analyzed</a></li>
    </ul>
    
</body>
</html>